@import "./../style/color.scss";
@import "./../style/fontSize.scss";
@import "./../style/mixin.scss";

.r-tag{
  @include linkSize;
  @include px(padding-left, 12);
  @include px(padding-right, 12);
  @include px(padding-top, 5);
  @include px(padding-bottom, 5);
  @include px(border-radius, 8);
  @include v-middle;
  line-height: 1;
}
.r-tag.round{
  @include px(border-radius, 20);
  @include px(padding-left, 25);
  @include px(padding-right, 25);
}
.r-tag.default{
  border:1px solid $borderColor;
  color: $grayColor;
}
.r-tag.yellow{
  border:1px solid $yellowColor;
  color: $yellowColor;
}
.r-tag.green{
  border:1px solid $greenColor;
  color: $greenColor;
}
.r-tag.light-green{
  border:1px solid $lightGreenColor;
  color: $lightGreenColor;
}
.r-tag.primary{
  border:1px solid $primaryColor;
  color: $primaryColor;
}
.r-tag.red{
  border:1px solid $redColor;
  color: $redColor;
}
.r-tag.blue{
  border:1px solid $blueColor;
  color: $blueColor;
}
.r-tag.orange{
  border:1px solid $orangeColor;
  color: $orangeColor;
}
.r-tag.orange{
  border:1px solid $orangeColor;
  color: $orangeColor;
}
.r-tag.info{
  border:1px solid $infoColor;
  color: $infoColor;
}
