$whiteColor: #fff;
$blackColor: #000;
$lightBlackColor: #333;

$darkGrayColor: #656565;
$grayColor: #959595;
$lightGrayColor: #f2f2f2;

$darkPrimaryColor: #f79243;
$primaryColor: #f6b37f;
$lightPrimaryColor: #f7a58b;

$darkGreenColor: #13b5b1;
$greenColor: #13b5b1;
$lightGreenColor: #13b5b1;

$darkYellowColor: #ffd259;
$yellowColor: #ffd259;
$lightYellowColor: #ffd259;

$redColor: #f77878;
$lightRedColor: #f77878;

$blueColor: #17a1e6;

$infoColor: #6bbb49;

$borderColor: #e2e2e2;
$defaultBtnColor: #b4b4b4;
$placeholderColor: #b2b2b2;
