$colorDisparity: 10%;
$bgColor: #efeff4;

$whiteColor: #fff;

$blackColor: #343434;
$lightBlackColor: lighten($blackColor, $colorDisparity);

$grayColor: #959595;
$darkGrayColor: #656565;
$lightGrayColor: #f7f7f7;

$primaryColor: #ff6e5f;
$darkPrimaryColor: darken($primaryColor, $colorDisparity);
$lightPrimaryColor: lighten($primaryColor, $colorDisparity);

$yellowColor: #edd758;
$darkYellowColor: darken($yellowColor, $colorDisparity);
$lightYellowColor: lighten($yellowColor, $colorDisparity);

$redColor: #eb6877;
$darkRedColor: darken($redColor, $colorDisparity);
$lightRedColor: lighten($redColor, $colorDisparity);

$greenColor: #13b5b1;
$darkGreenColor: darken($greenColor, $colorDisparity);
$lightGreenColor: #5cb934;

$blueColor: #67c0ff;
$darkBlueColor: darken($blueColor, $colorDisparity);
$lightBlueColor: lighten($blueColor, $colorDisparity);

$orangeColor: #ffa317;
$darkOrangeColor: darken($orangeColor, $colorDisparity);
$lightOrangeColor: lighten($orangeColor, $colorDisparity);

$infoColor: #17a1e6;
$darkInfoColor: darken($infoColor, $colorDisparity);
$lightInfoColor: lighten($infoColor, $colorDisparity);

$borderColor: #dee3ec;
$lightBorderColor: #e2e6ee;
$defaultBtnColor: #b4b4b4;
