@import "./color.scss";
@import "./fontSize.scss";
@import "./mixin.scss";
@import "./1px.scss";

// 列表
.r-cell{
  width: 100%;
  @include px(height, 90);
  @include px(line-height, 90);
  .label{
    width: 40%;
    float: left;
    text-align: left;
    @include px(height, 86);
    @include px(line-height, 86);
    color: $blackColor;
    @include titleSize;
  }
  .des{
    width: 54%;
    float: left;
    text-align: right;
    @include px(height, 86);
    @include px(line-height, 86);
    color: $grayColor;
    @include linkSize;
  }
  i{
    width: 6%;
    float: right;
    text-align: right;
    @include textSize;
    @include px(margin-top, 27);
  }
}

// 表单
.r-form{
  .title{
    @include linkSize;
    color: $grayColor;
    @include px(padding, 20);
    @include px(margin-top, 5);
  }
  .item{
    @include textSize;
    background-color: $whiteColor;
    color: $blackColor;
    margin-top: 0;
    overflow: hidden;
    @include px(padding, 20);
    @extend .r-1px-b;
    .label{
      width: 40%;
      float: left;
      text-align: left;
      @include px(height, 50);
      @include px(line-height, 50);
    }
    .value{
      width: 60%;
      float: left;
      text-align: right;
      input{
        width: 100%;
        border: none;
        outline: none;
        text-align: right;
        @include px(height, 50);
        @include px(line-height, 50);
      }
    }
  }
  .first{
    border-top: none;
  }
  textarea{
    width: 100%;
    @include px(height, 190);
    @include px(padding, 20);
    @include textSize;
    resize: none;
    border: none;
    outline: none;
  }
}
