@import "./../style/color.scss";
@import "./../style/fontSize.scss";
@import "./../style/mixin.scss";
@import "./../style/1px.scss";

.r-tree-select{
  position: fixed;
  left:0;
  width:100%;
  @include textSize;
  .bg{
    @include one-screen;
    background-color: rgba(0,0,0,0.3);
  }
  .wrap{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    background-color: $whiteColor;
    will-change: top;
  }
}
